@import "../../static/css/_config.scss";

%button-base {
  transition: all .3s;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  background: transparent;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
  &:active {
    outline: 0;
    opacity: 0.6;
  }
  &:focus {
    outline: 0;
    opacity: 0.8;
  }
}

.button {
  @extend %button-base;
  font-size: 65px;
  margin-bottom: 40px;
  color: $apoj-text-color;
}

.button-main {
  @extend %button-base;
  margin-bottom: 40px;
  margin-top: 10px;
  font-size: 80px;
  font-family: $header-font-family;
  color: $apoj-text-second-color;
}

.button-second {
  @extend %button-base;
  line-height: 20px;
  margin-bottom: 0;
  color: $apoj-text-color;
  font-size: 25px;
}