@import "../../static/css/_config.scss";

.button {
  @extend %form-text;
  @extend %form-element;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
  color: $apoj-text-color;
  background: transparent;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
  &:active {
    outline: 0;
    opacity: 0.6;
  }
  &:focus {
    outline: 0;
    opacity: 0.8;
  }
}