@import "../../static/css/_config.scss";
@import "../Form/Form.scss";

@keyframes rotate-sun {
  0% {  transform: rotate(0deg);  }
  100% {  transform: rotate(360deg);  }
}

.menu {
}

.menu__circle {
  box-sizing: border-box;
  position: relative;
  z-index: -1;
  width: 588px;
  height: 644px;
  margin-top: -90%;
  background: url('../../static/img/circle.png') no-repeat center;
  background-size: cover;
}

.menu__buttons {
  box-sizing: border-box;
  padding: 150px 0;
  height: 460px;
  width: 588px;
}

.menu__rotate {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: -2;
  width: 1000px;
  height: 1000px;
  background: url('../../static/img/sun.png') no-repeat center;
  background-size: cover;
  animation: rotate-sun 20s linear 0s infinite normal;
}

.menu__sparkle1 {
  @extend %sparkle;
  margin-top: -21%;
}

.menu__sparkle2 {
  @extend %sparkle;
  margin-top: -39%;
  margin-left: 33%;
}