@import '../../static/css/_config.scss';
@import '../Button/Button.scss';

/**** Форма ****/

.form-box {
  width: 420px;
  margin: auto;
}

.form-box__top {
  overflow: hidden;
  padding: 0 20px 0px 25px;
  background: rgba($form-background, 0.86);
  border-radius: 4px 4px 0 0;
  text-align: left;
}

.form-box__top-left {
  float: left;
  width: 75%;
  padding-top: 25px;

  h3 {
    font-size: 1.5em;
    margin-top: 0;
    color: $white;
  }
  p {
    opacity: 0.8;
    color: $white;
  }
}

.form-box__top-right {
  float: right;
  width: 25%;
  padding-top: 5px;
  font-size: 66px;
  color: $white;
  line-height: 100px;
  text-align: right;
  opacity: 0.3;
}

.form-box__bottom {
  padding: 25px 25px 0px 30px;
  background: rgba($form-background, 0.7);
  text-align: left;

  form input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px;
  }
  form {
    position: relative;

    .input-error {
      border-color: $error-color;
    }
    input {
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 0px;
      margin-top: 7px;
    }
  }
}

.form-box__end {
  overflow: hidden;
  border-radius: 0 0 4px 4px;
  background: rgba(1, 9, 31, 0.86);
}

/***** Элементы формы ******/

input[type="text"],
input[type="password"],
input[type="email"] {
  @extend %form-element;
  @extend %form-text;
  background: $white;
  border: 3px solid $white;
  color: $dark-gray;
  &:focus {
    outline: 0;
  }
}

.form__button {
  @extend %form-text;
  @extend %form-element;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 3em;
  font-family: $header-font-family;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 0;
  text-align: center;
  width: 100%;
  color: $white;
  background: transparent;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
  &:active {
    outline: 0;
    opacity: 0.6;
  }
  &:focus {
    outline: 0;
    opacity: 0.8;
  }
}

.error {
  height: 30%;
  width: 100%;
  padding: 0;

  font-size: 85%;
  font-weight: 700;

  color: $white;
  margin-top: -7px;
  margin-bottom: 7px;

  border-radius: 4px;
  box-sizing: border-box;
  &.active {
    padding: 0.3em;
    background: $error-background;
  }
}

@media (min-width: 850px) {
  .form-box {

  }
}

// Мобилки!
@media screen and (max-width: 414px) and (min-width: 319px) {
  .form-box {
    width: 100%;
  }
  .form-box__top-left {
    h3 {
      font-size: 25px;
      margin-top: 20px;
    }
    p {
      display: none;
    }
  }
  .form__button {
    padding: 0;
    font-size: 2.5em;
  }
}
