%form-element {
  height: 50px;
  padding: 0 20px;
  vertical-align: middle;
  border-radius: 4px;
  box-shadow: none;
  transition: all .3s;
}

%form-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
}