.content__game__scene {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

// Мобилки!
@media screen and (max-width: 414px) and (min-width: 319px) {
  .content__game__scene {
    width: 100%;
  }
}
