@import "../../static/css/_theme.scss";

.backButton {
  display: inline;
  cursor: pointer;

  color: $white;
  font-weight: 500;
  border-bottom: 1px dotted $white;
}

.backButton:hover {
  opacity: 0.8;
}