@import '../../static/css/_config.scss';

.back-button {
  background: rgba($form-background, 0.76);
  color: $white;
  font-weight: 500;

  cursor: pointer;
  padding: 5px;

  &:hover {
    opacity: 0.8;
  }
}
