/* Colors, used in project */

$primary-color: #888;
$blue:       #19b9e7;
$dark-blue:     #0081AF;
$white:         #fff;
$dark-gray:     #444;
$gray:          #555;
$red:            red;
$black: rgba(0, 0, 0, 0.35);
$light-black: rgba(0, 0, 0, 0.3);

$error-background: rgba(200, 0, 0, 0.7);

%form-element {
  height: 50px;
  padding: 0 20px;
  vertical-align: middle;
  border-radius: 4px;
  box-shadow: none;
  transition: all .3s;
}

%form-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
}
