/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);*/

@import "_reset.scss";

@import "_theme.scss";

body {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    color: $primary-color;
    line-height: 30px;
    text-align: center;
}

strong {
    font-weight: 500;
}

h1, h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: $gray;
    line-height: 50px;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: $gray;
    line-height: 30px;
}

::selection {
    background: $blue;
    color: $white;
    text-shadow: none;
}

/***** content *****/

.content {
    padding: 50px 0 80px 0;

    .text {
        color: $white;
        h1 {
            color: $white;
        }
    }
    .description {
        margin: 20px 0 10px 0;
        p {
            opacity: 0.8;
        }
    }
}

.form-box {
    margin-top: 70px;
}

.form-top {
    overflow: hidden;
    padding: 0 20px 0px 25px;
    background: $dark-gray;
    background: $black;
    border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;

    h3 {
        margin-top: 0;
        color: $white;
    }
    p {
        opacity: 0.8;
        color: $white;
    }
}

.mycol {
    margin: auto;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.form-top-right {
    float: right;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: $white;
    line-height: 100px;
    text-align: right;
    opacity: 0.3;
}

.form-bottom {
    padding: 25px 25px 30px 30px;
    background: $dark-gray;
    background: $black;
    border-radius: 0 0 4px 4px;
    text-align: left;

    form button {
        cursor: pointer;
        width: 100%;
    }
    form input {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 15px;
    }
    form {
        .input-error {
            border-color: $red;
        }
        input {
            box-sizing: border-box;
            width: 100%;
            margin-bottom: 15px;
        }
    }
}


/***** Элементы формы ******/

%form-element {
    height: 50px;
    padding: 0 20px;
    vertical-align: middle;
    border-radius: 4px;
    box-shadow: none;
    transition: all .3s;
}

%form-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
}

input[type="text"],
input[type="password"] {
    @extend %form-element;
    @extend %form-text;
    background: $white;
    border: 3px solid #fff;
    color: $primary-color;
    &:focus {
        outline: 0;
    }
}

button {
    @extend %form-text;
    @extend %form-element;
    margin: 10px 0px 0px 0px;
    background: $blue;
    border: 0;
    color: $white;
    text-shadow: none;
    &:hover {
        opacity: 0.8;
    }
    &:active {
        outline: 0;
        opacity: 0.6;
    }
    &:focus {
        outline: 0;
        opacity: 0.8;
    }
}

button:active:focus, button.active:focus {
    outline: 0;
    opacity: 0.6;
    background: $blue;
    color: $white;
}

.menu {
    @extend .form-box;
    @extend .form-bottom;
    border-radius: 4px;

    button {
        cursor: pointer;
        width: 100%;
    }
}

/***** Footer *****/

footer {
    padding-bottom: 70px;
    color: $white;

    .footer-border {
        width: 200px;
        margin: 0 auto;
        border-top: 1px solid rgba(255, 255, 255, 0.6);
    }

    p {
        opacity: 0.8;
    }
}

/***** Media queries *****/

@media (min-width: 850px) {
    .mycol {
        width: 40%;
    }
}
