/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);*/
@import "_reset.scss";
@import "_theme.scss";

@function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));

    @return $randomNum;
}

body {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    color: $primary-color;
    line-height: 30px;
    text-align: center;
    background: url('../img/backgrounds/#{randomNum(0, 2)}.jpg') no-repeat center fixed;
    background-size: cover;
}

strong {
  font-weight: 500;
}

%h-base {
  margin-top: 10px;
  font-weight: 100;
  color: $white;
}

h1 {
  @extend %h-base;
  font-size: 38px;
  line-height: 50px;
}

h2 {
  @extend %h-base;
  font-size: 30px;
  line-height: 40px;
}

h3 {
  @extend %h-base;
  margin: 0;
  font-size: 22px;
  line-height: 30px;
}

::selection {
  background: $blue;
  color: $white;
  text-shadow: none;
}

/**** content ****/

.content {
  margin: auto;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}


/***** Media queries *****/

@media (min-width: 850px) {
  .content {
    width: 40%;
  }
}
