@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}

//  Colors
$halloween-red:  #E64618;
$green:       #068A08;

//  Apoj colors
$apoj-color: $halloween-red;
$apoj-color-second: $green;

//  Font
$second-font-family: Bangers;

//  Background
$main-background: url('../../img/backgrounds/halloween/#{randomNum(3, 5)}.jpg');
