@import "../../static/css/_config.scss";

.header {
  padding-top: 25px;
}

.header__logo {
  margin: auto;
  width: 250px;
  height: 178px;
  background: url('../../static/img/logo.png') no-repeat center;
  background-size: cover;
}

.header__sparkle {
  @extend %sparkle;
  margin-left: 53%;
  margin-top: -13%;
}