@import  '../../static/css/_config.scss';

.header {
  padding-top: 25px;
}

.header__logo {
  margin: auto;
  height: 20vh;
  background: url('../../static/img/logo.png') no-repeat center;
  background-size: contain;
  position: relative;
  z-index: 4;
  width: 30vh;
  cursor: pointer;
}

@media screen and (max-height: 500px) {
  .header__logo {
    height: 100px;
    width: 200px;
  }
}

@media screen and (max-width: 319px) and (max-device-aspect-ratio: 1/2){
  .header__logo {
    margin-left: 20vh;
    height: 20vh;
    width: 20vh;
  }
}