@import '../../static/css/_config.scss';

@keyframes rotate-loading {
  0% {  transform: rotate(0deg);  }
  100% {  transform: rotate(360deg);  }
}

@keyframes loading-text-opacity {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

%container {
  height: 100px;
  width: 100px;
  position: relative;
  border-radius: 100%;
}

.loading {
  @extend %container;
  margin: 40px auto;

  &:hover .loading__element{
    border-color: transparent $apoj-color transparent $apoj-color;
  }
}

.loading__element {
  @extend %container;
  border: 2px solid;
  border-color: transparent $white transparent $white;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  transition: all 0.5s ease-in-out;
}

.loading__text {
  animation: loading-text-opacity 2s linear 0s infinite normal;
  color: $white;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 104px;
  top: 40px;
}