@import "../../static/css/_config.scss";

footer {
  margin-top: 50px;
  color: $white;

  p {
    opacity: 0.8;
  }
}

.footer__text {
  margin: 0 auto;
  padding-bottom: 10px;
  font-family: $quote-font-family;
  font-size: 45px;
  color: $white;
}
