@import '../../static/css/_config.scss';

footer {
  margin-top: 50px;
  color: $white;

  p {
    opacity: 0.8;
  }
}

.footer__text {
  margin: 0 auto;
  padding-bottom: 10px;
  font-family: $quote-font-family;
  font-size: 5vh;
  color: $white;
}

@media screen and (max-height: 500px) {
  .footer__text {
    font-size: 25px;
  }
}

@media screen and (max-width: 319px) and (max-device-aspect-ratio: 1/2){
  .footer__text {
    margin-left: 20vh;
  }
}