@import "../../../static/css/_config.scss";

$firstColor:       $apoj-color;
$secondColor: $apoj-color-dark;

.audio-player {
  margin: auto;
  width: 210px;
  height: 50px;
}

.audio-player__button {
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background: $white;
  box-shadow: 0 3px 20px 0 $light-black;
  text-align: center;
  font-size: 25px;
  color: $apoj-color;
  cursor: pointer;
  &:hover {
    opacity: 0.85;
  }
}

.audio-player__button_pause {
  display: none;
}

.audio-player__button_play {
}

.audio-player__visualizer {
  display: inline;
  float: left;
  margin-left: 10px;
  width: 150px;
  height: 50px;
  transition: 0.5s;
  border-radius: 10px;
  background-size: 200% auto;
  background-image: linear-gradient(to right, $firstColor 0%, $secondColor 51%, $firstColor 100%);
  &:hover {
    background-position: right center;
  }
}
